@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

Footer
footer {
  background-color: $primary-color;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  font-size: 1rem;
}