@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


.projets {
    padding: 4rem 0;
  
    .projets__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 2rem;
    }
  
    .projet-card {
      background-color: white;
      padding: 2rem;
      border-radius: 1rem;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  
      h3 {
        font-size: 1.8rem;
        color: $primary-color;
        margin-bottom: 1rem;
      }
  
      p {
        font-size: 1rem;
        color: #666;
        margin-bottom: 1rem;
      }
  
      img {
        max-width: 100%;
        border-radius: 1rem;
        margin-bottom: 1rem;
      }
  
      a {
        display: inline-block;
        background-color: $primary-color;
        color: white;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        font-size: 1.1rem;
        text-decoration: none;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }
  }